<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.gps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="물 한잔 해요"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".jinseongPart.AlarmSettingReceiver1"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity android:name=".jinseongPart.TimeSettingActivity" />
        <activity
            android:name=".SelectWaterButton"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".popup_waterButton"
            android:theme="@android:style/Theme.Dialog" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/drinkwaterprogressbar" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>